@font-face {
	font-family: bebas;
	src: url(../fonts/bebas.ttf);
}
@font-face {
	font-family: StMarie-Thin;
	src: url(../fonts/StMarie-Thin.otf);
}
header{
	width:100%;
	position: fixed;
	top:0px;
	z-index: 999;
}
body{
	margin: 0;
	padding: 0;
}
#wrapper {
	width:100%;
	background-color: rgb(255 255 255);
	font-family: Calibri, sans-serif;
	font-size:15px;
}
#logo {
	background: url(../img/rabbit.png) no-repeat;
	background-position: 25px;
	height: 130px;
	width:50%;
	float: left;
	position: relative;
}
#logo div{
	position: absolute;
	left: 165px;
}
#logo h1 {
	font-size: 37px;
	color:rgb(251, 156, 6);
}
#logo h1 span {
	font-family: bebas;
	color: rgb(110, 109, 107);
}
nav {
	display: block;
	float: right;
	width: 50%;
	height:130px;
}
nav ul {
	list-style: none;
	float:left;
}
nav ul li {
	float: left;
	background: url(../img/icons.png) no-repeat;
}
li:nth-child(1) {
	background-position: 0 20px;
	padding: 80px 35px 0 0;
}
li:nth-child(2) {
	background-position: -90px 20px;
	padding: 80px 30px 0 35px;
}
li:nth-child(3) {
	background-position: -215px 20px;
	padding: 80px 30px 0 35px;
}
li:nth-child(4) {
	background-position: -340px 20px;
	padding: 80px 45px 0 35px;
}
li:nth-child(5) {
	background-position: -465px 20px;
	padding: 80px 0 0 35px;

}
ul li a {
	color: rgb(158, 155, 155);
	text-decoration: none;
	font-size: 22px;
}
ul a:hover {
	color: #ffc759;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
#image {
	margin-top: 130px;
	clear: both;
	background: url(../img/big-orange-bg.png) no-repeat center top / cover;
	height:400px;
	border-bottom: 4px solid rgb(251,156,6);
	border-top: 4px solid rgb(251,156,6);
}
#image .container{
	position:relative;
}
#image h2 {
	position:absolute;
	font-family: bebas;
	font-size: 37px;
	text-align: center;
}
#image h2:nth-child(1) {
	left:20px;
	top:130px;
	width:380px;
	height:60px;
	line-height: 60px;
	background-color: rgb(75, 79, 79);
	color: rgb(251, 156, 6);
}
#image h2:nth-child(2) {
	left:10px;
	top:220px;
	width:395px;
	height:75px;
	line-height: 75px;
	background-color: rgb(254, 199, 89);
	color:rgb(110, 109, 107);
}
main {
	min-height: 1138px;
}
main .abstract {
	width:25%;
	height:190px;
	float:left;
	}
main .abstract p{
	padding: 10px 15px 0 20px;
	max-height:110px;
	overflow:hidden;
}
.abstract a{
	display:block;
	text-decoration: none;
	text-align: right;
	color: rgb(255, 216, 163);
	font-size: 17px;
}
main #clear{
	clear:both;
	padding-top: 30px;
	border-bottom: 2px solid #f2f2f2;
}
main h2{
	margin:25px;
	padding:0;
	font-family: StMarie-Thin;
	font-size:40px;
	color: rgb(255,181,64);
	text-align:center;
	text-decoration: underline;
}
main .employees {
	width:25%;
	height: 500px;
	float:left;
}
#center {
	width: 50%;
}
#center .content {
	padding: 10px 125px 10px 160px;
}
.employees p {
	text-align:center;
	font-size:22px;
	color:#6e6d6b;
}
.employees p span{
	color: rgb(251, 156, 6);
}
.employees .content{
	text-align: left;
	padding:10px 0px;
}
.round {
	position:relative;
	width:290px;
	height:290px;
	display:block;
	margin: 0 auto;
	border-radius:50%;
	border:8px solid #ffb540;
	z-index:998;
}
#title h2{
	clear:both;
	padding:75px 0 35px 0;
}
form{
	position:relative;
	font-family: StMarie-Thin;
	font-size: 24px;
	color: rgb(252, 181, 68);
}
label {
	cursor:pointer;
}
input {
	position:absolute;
	left: 150px;
	width:1050px;
	height:30px;
	background-color: rgb(248, 247, 246);
	border-top: 2px solid #dedddc;
	border-left: 3px solid #d2d0cf;
}
#message{
	height: 90px;
	position:absolute;
	left:150px;
	width:1050px;
	background-color: rgb(248, 247, 246);
	border-top: 2px solid #dedddc;
	border-left: 3px solid #d2d0cf;
}
#button{
	top:220px;
	left:990px;
	width:175px;
	height:45px;
	cursor:pointer;
	background-color: rgb(251, 156, 6);
	color: rgb(254, 236, 208);
	font-family: StMarie-Thin;
	font-size: 30px;
	border: 0;
	border-bottom: 3px solid #d3942f;	
}
footer {
	background-color:rgb(251, 156, 6);
	height:80px;
	margin-top:190px;
	border-bottom: 3px solid #cc830f;
}
footer p{
	width:100%;
	text-align: center;
	padding: 20px; 
	text-transform: uppercase;
	font-family: StMarie-Thin;
	color: rgb(254, 236, 208);
	font-size: 33px;
}